{% extends 'base.html' %}
{% block title %}AVF-Checkout{% endblock title %}
{% block content %}
<div class="cart-table-area section-padding-100">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-lg-8">
                <div class="checkout_details_area mt-50 clearfix">

                    <div class="cart-title">
                        <h2>Checkout</h2>
                    </div>

                    <form action="{% url 'adduseraddress' %}" method ="POST">
                        {% csrf_token %}	
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <input type="text" class="form-control" id="username" value="{{ addresses.user }}" placeholder="username" required>
                            </div>
                            <div class="col-md-6 mb-3">
                                <input type="text" class="form-control" id="full name" value="{{ addresses.fullname }}" placeholder="full name" required>
                            </div>
                            
                            <div class="col-12 mb-3">
                                <input type="text" class="form-control mb-3" id="house_name" placeholder="house_name" value="{{ addresses.house_name }}">
                            </div>
                            <div class="col-12 mb-3">
                                <input type="text" class="form-control" id="city" placeholder="city" value="{{ addresses.city }}">
                            </div>
                            <div class="col-12 mb-3">
                                <input type="text" class="form-control" id="district" placeholder="district" value="{{ addresses.district }}">
                            </div>
                            <div class="col-12 mb-3">
                                <input type="text" class="form-control" id="state" placeholder="state" value="{{ addresses.state }}">
                            </div>
                            <div class="col-12 mb-3">
                                <input type="text" class="form-control" id="country" placeholder="country" value="{{ addresses.country }}">
                            </div>
                            
                            
                            <div class="col-md-6 mb-3">
                                <input type="text" class="form-control" id="zipCode" placeholder="Zip Code" value="{{ addresses.pincode}}">
                            </div>
                            <div class="col-md-6 mb-3">
                                <input type="number" class="form-control" id="phone_number" placeholder="Phone No" value="{{ addresses.contact_number }}">
                            </div>
                           

                            <div class="col-12">
                                <div class="cart-btn mt-100">
                                    <a href="#" class="btn amado-btn w-100">edit address</a>
                                </div>
                                <div class="custom-control custom-checkbox d-block mb-2">
                                    <input type="checkbox" class="custom-control-input" id="customCheck2">
                                    <label class="custom-control-label" for="customCheck2">Create an accout</label>
                                </div>
                                <div class="custom-control custom-checkbox d-block">
                                    <input type="checkbox" class="custom-control-input" id="customCheck3">
                                    <label class="custom-control-label" for="customCheck3">Ship to a different address</label>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="cart-summary">
                    <h5>Cart Total</h5>
                    <ul class="summary-table">
                        <li><span>subtotal:</span> <span>&#8377;{{ sub_total }}</span></li>
                        <li><span>delivery:</span> <span>Free</span></li>
                        <li><span>total:</span> <span>&#8377;{{ total }}</span></li>
                    </ul>

                    <div class="payment-method">
                        <!-- Cash on delivery -->
                        <div class="custom-control custom-checkbox mr-sm-2">
                            <input type="checkbox" class="custom-control-input" id="cod" checked>
                            <label class="custom-control-label" for="cod">Cash on Delivery</label>
                        </div>
                        <!-- Paypal -->
                        <div class="custom-control custom-checkbox mr-sm-2">
                            <input type="checkbox" class="custom-control-input" id="paypal">
                            <label class="custom-control-label" for="paypal">Paypal <img class="ml-15" src="/static/assets/img/core-img/paypal.png" alt=""></label>
                        </div>
                    </div>
                    

                    <div class="cart-btn mt-100">
                        <a href="{% url 'payments' %}" class="btn amado-btn w-100">Place Order</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>  
{% endblock content %}