<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title  -->
    <title>AVF-check out</title>

    <!-- Favicon  -->
    <link rel="icon" href="/static/assets/img/core-img/logobw.png">

    <!-- Core Style CSS -->
    <link rel="stylesheet" href="/static/assets/css/core-style.css">
    <link rel="stylesheet" href="/static/assets/style.css">
    <script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
        
	</script>
    <link rel="stylesheet" href="/static/assets/css/core-style.css">
     <link rel="stylesheet" href="/static/assets/style.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/assets2/css/vendor/bootstrap.min.css">
    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="/static/assets2/css/vendor/font.awesome.min.css">
    <!-- Linear Icons CSS -->
    <link rel="stylesheet" href="/static/assets2/css/vendor/linearicons.min.css">
    <!-- Swiper CSS -->
    <link rel="stylesheet" href="/static/assets2/css/plugins/swiper-bundle.min.css">
    <!-- Animation CSS -->
    <link rel="stylesheet" href="/static/assets2/css/plugins/animate.min.css">
    <!-- Jquery ui CSS -->
    <link rel="stylesheet" href="/static/assets2/css/plugins/jquery-ui.min.css">
    <!-- Nice Select CSS -->
    <link rel="stylesheet" href="/static/assets2/css/plugins/nice-select.min.css">
    <!-- Magnific Popup -->
    <link rel="stylesheet" href="/static/assets2/css/plugins/magnific-popup.css">

    <!-- Main Style CSS -->
    <link rel="stylesheet" href="/static/assets2/css/style.css">
    <link
	<link href="/static/css/bootstrap.css" rel='stylesheet' type='text/css' />
	<link href="/static/css/login_overlay.css" rel='stylesheet' type='text/css' />
	<link href="/static/css/style6.css" rel='stylesheet' type='text/css' />
	<link rel="stylesheet" href="/static/css/shop.css" type="text/css" />
	<link rel="stylesheet" href="/static/css/owl.carousel.css" type="text/css" media="all">
	<link rel="stylesheet" href="/static/css/owl.theme.css" type="text/css" media="all">
	<link href="/static/css/style.css" rel='stylesheet' type='text/css' />
	<link href="/static/css/fontawesome-all.css" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Inconsolata:400,700" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800"
	    rel="stylesheet">
   
</head>
<div class="breadcrumbs-area position-relative">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <div class="breadcrumb-content position-relative section-content">
                    <h3 class="title-3">checkout</h3>
                    <ul>
                        <li><a href="{% url 'index' %}">Home</a></li>
                        <li></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="banner_inner">
	<div class="services-breadcrumb">
		<div class="inner_breadcrumb">

			
		</div>
	</div>

</div>
<!--//banner -->
</div>
<!--// header_top -->
<!--checkout-->


 <!-- Checkout Start -->
 <div class="container-fluid pt-5">

	<div class="row px-xl-5">
		<div class="row">
		<div style="display:inline;">
		<h4 class="font-weight-semi-bold mb-4">Select an existing Address</h4>
		</div>
		<div class="col-md-6 form-group">
		<form action="{% url 'placeorder' %}" method="POST">
			{% csrf_token %}	
			<label>Address</label>
			<br>
			<select class="custom-select" name = "address">
				{% for address in addresses %}
				<option value="{{ address.id }}">{{ address }},
					<br>{{ address.house_name }}</option>
				{% endfor %}
			</select>
		
			<br>
			<br>
			<div>
				<button class="btn btn-lg btn-block btn-danger font-weight-bold" type="submit">Place Order</button>
			</div>
		</form>
		</div>
	</div>
	
	</div>
	<br>
	<br>
	<br>
	<form action="{% url 'adduseraddress' %}" method ="POST">
		{% csrf_token %}
		<div class="col-lg-11">
			<div class="mb-4">
				<h4 class="font-weight-semi-bold mb-4">Billing Address</h4>
				<div class="row">

					<div class="col-md-6 form-group">
						<label>Name</label>
						<input class="form-control" type="text" placeholder="Name" required name="name">
					</div>
					<div class="col-md-6 form-group">
						<label>Mobile Number</label>
						<input class="form-control" type="text" placeholder="Mobile Number" required name="ph_no">
					</div>
					<div class="col-md-6 form-group">
						<label>House Name</label>
						<input class="form-control" type="text" placeholder="House Name" required name="house">
					</div>
					<div class="col-md-6 form-group">
						<label>Landmark</label>
						<input class="form-control" type="text" placeholder="Landmark" required name="landmark">
					</div>
					<div class="col-md-6 form-group">
						<label>District</label>
						<input class="form-control" type="text" placeholder="District" required name="district">
					</div>
					<div class="col-md-6 form-group">
						<label>City</label>
						<input class="form-control" type="text" placeholder="City"required name="city">
					</div>
					<div class="col-md-6 form-group">
						<label>State</label>
						<input class="form-control" type="text" placeholder="state"required name="state">
					</div>
					<div class="col-md-6 form-group">
						<label>Country</label>
						<input class="form-control" type="text" placeholder="country"required name="country">
					</div>
					<div class="col-md-6 form-group">
						<label>Pin Code</label>
						<input class="form-control" type="text" placeholder="Pincode"required name="pincode">
					</div>
					<div class="col-md-6 form-group">

					</div>
				
					<div>
						<button class="btn btn-lg btn-block btn-danger font-weight-bold my-3 mx-3" type="submit">Place Order</button>
					</div>
			
				</div>
			</div>
		</div>
	</form>
	</div>


	

</div>
 <!-- ##### Newsletter Area Start ##### -->
 <section class="newsletter-area section-padding-100-0">
    <div class="container">
        <div class="row align-items-center">
            <!-- Newsletter Text -->
            <div class="col-12 col-lg-6 col-xl-7">
                <div class="newsletter-text mb-100">
                    <h2>Subscribe for a <span>25% Discount</span></h2>
                    <p>Nulla ac convallis lorem, eget euismod nisl. Donec in libero sit amet mi vulputate consectetur. Donec auctor interdum purus, ac finibus massa bibendum nec.</p>
                </div>
            </div>
            <!-- Newsletter Form -->
            <div class="col-12 col-lg-6 col-xl-5">
                <div class="newsletter-form mb-100">
                    <form action="#" method="post">
                        <input type="email" name="email" class="nl-email" placeholder="Your E-mail">
                        <input type="submit" value="Subscribe">
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Newsletter Area End ##### -->

<!-- ##### Footer Area Start ##### -->
<footer class="footer_area clearfix">
    <div class="container">
        <div class="row align-items-center">
            <!-- Single Widget Area -->
            <div class="col-12 col-lg-4">
                <div class="single_widget_area">
                    <!-- Logo -->
                    <div class="footer-logo mr-50">
                        <a href="{% url 'index' %}"><img src="/static/assets/img/core-img/logo ft.png" alt=""></a>
                    </div>
                    <!-- Copywrite Text -->
                    {% comment %} <p class="copywrite"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a> & Re-distributed by <a href="https://themewagon.com/" target="_blank">Themewagon</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p> {% endcomment %}
                </div>
            </div>
            <!-- Single Widget Area -->
            <div class="col-12 col-lg-8">
                <div class="single_widget_area">
                    <!-- Footer Menu -->
                    <div class="footer_menu">
                        <nav class="navbar navbar-expand-lg justify-content-end">
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#footerNavContent" aria-controls="footerNavContent" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
                            <div class="collapse navbar-collapse" id="footerNavContent">
                                <ul class="navbar-nav ml-auto">
                                    <li class="nav-item active">
                                        <a class="nav-link" href="{% url 'index' %}">Home</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="shop.html">Shop</a>
                                    </li>
                                   
                                    <li class="nav-item">
                                        <a class="nav-link" href="checkout.html">Checkout</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="checkout.html">Account</a>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Checkout End -->


{% comment %} {% block java %} {% endcomment %}
<script src="/static/js/jquery-2.2.3.min.js"></script>
<!-- newsletter modal -->
<!--search jQuery-->
<script src="/static/js/modernizr-2.6.2.min.js"></script>
<script src="/static/js/classie-search.js"></script>
<script src="/static/js/demo1-search.js"></script>
<!--//search jQuery-->
<!-- cart-js -->
<script src="/static/js/minicart.js"></script>
<script>
	.render();

	AVF.cart.on('AVF_checkout', function (evt) {
		var items, len, i;

		if (this.subtotal() > 0) {
			items = this.items();

			for (i = 0, len = items.length; i < len; i++) { }
		}
	});
</script>
<!-- //cart-js -->
<script>
	$(document).ready(function () {
		$(".button-log a").click(function () {
			$(".overlay-login").fadeToggle(200);
			$(this).toggleClass('btn-open').toggleClass('btn-close');
		});
	});
	$('.overlay-close1').on('click', function () {
		$(".overlay-login").fadeToggle(200);
		$(".button-log a").toggleClass('btn-open').toggleClass('btn-close');
		open = false;
	});
</script>
<!-- carousel -->
<!-- easy-responsive-tabs -->
<script src="/static/js/easy-responsive-tabs.js"></script>
<script>
	$(document).ready(function () {
		$('#horizontalTab').easyResponsiveTabs({
			type: 'default', //Types: default, vertical, accordion           
			width: 'auto', //auto or any width like 600px
			fit: true, // 100% fit in a container
			closed: 'accordion', // Start closed if in accordion view
			activate: function (event) { // Callback function if tab is switched
				var $tab = $(this);
				var $info = $('#tabInfo');
				var $name = $('span', $info);
				$name.text($tab.text());
				$info.show();
			}
		});
		$('#verticalTab').easyResponsiveTabs({
			type: 'vertical',
			width: 'auto',
			fit: true
		});
	});
</script>
<!--quantity-->
<script>
	$('.value-plus').on('click', function () {
		var divUpd = $(this).parent().find('.value'),
			newVal = parseInt(divUpd.text(), 10) + 1;
		divUpd.text(newVal);
	});

	$('.value-minus').on('click', function () {
		var divUpd = $(this).parent().find('.value'),
			newVal = parseInt(divUpd.text(), 10) - 1;
		if (newVal >= 1) divUpd.text(newVal);
	});
</script>
<!--quantity-->
<!--close-->
<script>
	$(document).ready(function (c) {
		$('.close1').on('click', function (c) {
			$('.rem1').fadeOut('slow', function (c) {
				$('.rem1').remove();
			});
		});
	});
</script>
<script>
	$(document).ready(function (c) {
		$('.close2').on('click', function (c) {
			$('.rem2').fadeOut('slow', function (c) {
				$('.rem2').remove();
			});
		});
	});
</script>
<script>
	$(document).ready(function (c) {
		$('.close3').on('click', function (c) {
			$('.rem3').fadeOut('slow', function (c) {
				$('.rem3').remove();
			});
		});
	});
</script>
<!--//close-->

<!-- dropdown nav -->
<script>
	$(document).ready(function () {
		$(".dropdown").hover(
			function () {
				$('.dropdown-menu', this).stop(true, true).slideDown("fast");
				$(this).toggleClass('open');
			},
			function () {
				$('.dropdown-menu', this).stop(true, true).slideUp("fast");
				$(this).toggleClass('open');
			}
		);
	});
</script>
<!-- //dropdown nav -->
<script src="/static/js/move-top.js"></script>
<script src="/static/js/easing.js"></script>
<script>
	jQuery(document).ready(function ($) {
		$(".scroll").click(function (event) {
			event.preventDefault();
			$('html,body').animate({
				scrollTop: $(this.hash).offset().top
			}, 900);
		});
	});
</script>
<script>
	$(document).ready(function () {
		/*
								var defaults = {
									  containerID: 'toTop', // fading element id
									containerHoverID: 'toTopHover', // fading element hover id
									scrollSpeed: 1200,
									easingType: 'linear' 
								 };
								*/

		$().UItoTop({
			easingType: 'easeOutQuart'
		});

	});
</script>
<!--// end-smoth-scrolling -->


<script src="/static/js/bootstrap.js"></script>
<script src="/static/assets/js/jquery/jquery-2.2.4.min.js"></script>
<!-- Popper js -->
<script src="/static/assets/js/popper.min.js"></script>
<!-- Bootstrap js -->
<script src="/static/assets/js/bootstrap.min.js"></script>
<!-- Plugins js -->
<script src="/static/assets/js/plugins.js"></script>
<!-- Active js -->
<script src="/static/assets/js/active.js"></script>