{% extends 'base.html' %}

{% block title %} AVF-Home {% endblock title %}


{% block content %} 

        <!-- Product Catagories Area Start -->
        
        <div class="products-catagories-area clearfix">
            {% if messages%} {% for message in messages%}
                            <div
                            class="alert alert-warning alert-dismissible fade show"
                            role="alert"
                            >
                            <strong></strong>{{message}}
                            <button
                                type="button"
                                class="btn-close"
                                data-bs-dismiss="alert"
                                aria-label="Close"
                            ></button>
                            </div>
                            {%endfor%} {%endif%}
            <div class="amado-pro-catagory clearfix">
                {% for brand in brands %}
                <!-- Single Catagory -->
                <div class="single-products-catagory clearfix">
                    <a href="/store/filtered-product/?brand={{ brand.id }}">
                        <img src="{{brand.images.url}}">
                        <!-- Hover Content -->
                        <div class="hover-content">
                            <div class="line"></div>
                            <p></p>
                            <h4>{{ brand.brand_name}}</h4>
                        </div>
                    </a>
                </div>
                {% endfor %}
                
                
            </div>
        </div>
        <!-- Product Catagories Area End -->
    </div>
    <!-- ##### Main Content Wrapper End ##### -->
    
{% endblock content %}