{% extends 'base.html' %}


{% block title %} AVF-Shop {% endblock title %}

{% block content %}
<style>
    .btn-apply {
        background-color: orange;
        color: white;
        transition: background-color 0.3s, color 0.3s;
    }

    .btn-apply:hover {
        background-color: black;
        color: white;
    }
</style>
<style>
    .price-filter button {
        background-color: orange;
        color: white;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        transition: background-color 0.3s ease, color 0.3s ease;
    }

    .price-filter button:hover {
        background-color: black;
        color: white;
    }
</style>
<style>
    .fav-nav-button {
        border: none;
        background: none;
        padding: 0;
    }
</style>
<style>
    .cart-button {
        border: none;
        background: none;
        padding: 0;
    }
</style>

<div class="shop_sidebar_area">

    <!-- ##### Single Widget ##### -->
    <div class="widget catagory mb-50">
        <!-- Widget Title -->
        <h6 class="widget-title mb-30">Categories</h6>
    
        <!--  Catagories  -->
        <div class="catagories-menu">
            {% for cat in categorys %}
            <ul>
                
                <li class=""><a href="/store/filtered-product/?category={{ cat.id }}">{{ cat.category_name}}</a></li>
              
            </ul>
            {% endfor %}
        </div>
    </div>
    
    <form class="widget-desc" action="/store/filtered-product/" method="get">
        <!-- Brands -->
        <div class="left-side">
            <h6 class="widget brands mb-50">Brands</h6>
    
            <ul>
                {% for i in brand %}
                <li class="m-4">
                    <input class="form-check-input" type="checkbox" name="brand" value="{{ i.id }}" class="checked">
                    <label class="form-check-label" for="brand_{{ i.id }}">{{ i.brand_name }}</label>
                </li>
                {% endfor %}
            </ul>
        </div>
        <br>
        <input class="btn btn-dark btn-apply" type="submit" value="Apply Filters">
    </form>
    
    <br>
    <form action="{% url 'filtered_products' %}" method="GET">
        <div class="price-filter">
            <label for="min_price">Min Price:</label>
            <input type="number" name="min_price" id="min_price" step="0.01" placeholder="">
            <br>
            <br>
            <label for="max_price">Max Price:</label>
            <input type="number" name="max_price" id="max_price" step="0.01" placeholder="">
            <br>
            <br>
    
            <button type="submit" class="rounded">Apply</button>
        </div>
    </form>
    
   
</div>

<div class="amado_product_area section-padding-100">
    <div class="container-fluid">

        <div class="row">
            <div class="col-12">
                <div class="product-topbar d-xl-flex align-items-end justify-content-between">
                    <!-- Total Products -->
                    <div class="total-products">
                        <p></p>
                       
                    </div>
                    <!-- Sorting -->
                    <div class="product-sorting d-flex">
                        {% comment %} <div class="sort-by-date d-flex align-items-center mr-15">
                            <p>Sort by</p>
                            <form action="#" method="get">
                                <select name="select" id="sortBydate">
                                    <option value="value">Date</option>
                                    <option value="value">Newest</option>
                                    <option value="value">Popular</option>
                                </select>
                            </form>
                        </div> {% endcomment %}
                        {% comment %} <div class="view-product d-flex align-items-center">
                            <p>View</p>
                            <form action="#" method="get">
                                <select name="select" id="viewProduct">
                                    <option value="value">12</option>
                                    <option value="value">24</option>
                                    <option value="value">48</option>
                                    <option value="value">96</option>
                                </select>
                            </form>
                        </div> {% endcomment %}
                    </div>
                </div>
            </div>
        </div>

        <div class="row">

            <!-- Single Product Area -->
            {% for product in current_page  %}
        
            <div class="col-12 col-sm-6 col-md-12 col-xl-6">
                <div class="single-product-wrapper">
                    <!-- Product Image -->
                    <div class="product-img">
                        <img src="{{product.images.url}}"> <a href="{% url 'product_details' product.id %}"></a>
                        <a href="{% url 'product_details' product.id %}"><img class="hover-img" src="{{ product.product_images.last.pr_images.url }}" alt=""></a>
                    </div>

                    <!-- Product Description -->
                    <div class="product-description d-flex align-items-center justify-content-between">
                        <!-- Product Meta Data -->
                        <div class="product-meta-data">
                            <div class="line"></div>
                        
                            {% if product.offer %}
                                <p class="product-price">
                                    
                                    &#8377;{{ product.get_offer_price }}
                                    <del>&#8377;{{ product.price }}</del>
                                    <span style="color: red;">({{ product.offer.off_percent }}% off)</span>
                                </p>
                                <a href="{% url 'product_details' product.id %}">
                                    <h6>{{ product.product_name }}</h6>
                                </a>
                                
                            {% elif product.category.offer %}
                                <p class="product-price">
                                    &#8377;{{ product.get_offer_price_by_category }}
                                    <del>&#8377;{{ product.price }}</del>
                                    <span style="color: red;">({{ product.category.offer.off_percent }}% off)</span>
                                    
                                </p>
                                <a href="{% url 'product_details' product.id %}">
                                    <h6>{{ product.product_name }}</h6>
                                </a>
                                
                            {% else %}
                                <p class="product-price">&#8377;{{ product.price }}</p>
                                <a href="{% url 'product_details' product.id %}">
                                    <h6>{{ product.product_name }}</h6>
                                </a>
                            {% endif %}
                        </div>
                        <!-- Ratings & Cart -->
                        <div class="ratings-cart text-right">
                            {% comment %} <div class="ratings">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div> 
                             <div class="fav-nav">
                                <a href="#" class="fav-nav-button" data-toggle="tooltip" data-placement="left" title="Add to Favourite">
                                    <img src="/static/assets/img/core-img/favorites.png" alt="">
                                </a>
                            </div> {% endcomment %}
                            
                            
                            {% if product.stock <= 0 %}
                            <h7>out of stock</h7>
                            {% else %}

                            <div class="cart">
                            
                           
                                {% comment %} <a href={% url 'addcart' product.id %} data-toggle="tooltip" data-placement="left" title="Add to Cart"><img src="/static/assets/img/core-img/cart.png" alt=""></a> {% endcomment %}
                                <button class="quantity-button increment-btn"
                                            data-cart-item-id="{{ product.id }}"
                                            style="background: url('/static/assets/img/core-img/cart.png') no-repeat center center;
                                                   background-size: contain; padding: 0;
                                                   border: none; cursor: pointer;
                                                   height: 25px; width: 25px;
                                                   outline: none;
                                                   -webkit-tap-highlight-color: transparent;"
                                            data-toggle="tooltip" data-placement="left" title="Add to Cart"
                                            onclick="addToCart('{{ product.id }}');">
                                </button>
                            </div>
                            {% endif %}
                            
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            <!-- Single Product Area -->
           
        </div>

<!-- Single Product Area -->


                <!-- Pagination -->
                <div class="row">
                    <div class="col-12">
                        <nav aria-label="navigation">
                            <ul class="pagination justify-content-end mt-50">
                                {% if current_page.has_previous %}
                                    <li class="page-item"><a class="page-link" href="?page={{ current_page.previous_page_number }}"> < </a></li>
                                {% endif %}
                                {% for num in current_page.paginator.page_range %}
                                    {% if current_page.number == num %}
                                        <li class="page-item active"><a class="page-link" href="#">{{ num }}.</a></li>
                                    {% else %}
                                        <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}.</a></li>
                                    {% endif %}
                                {% endfor %}
                                {% if current_page.has_next %}
                                    <li class="page-item"><a class="page-link" href="?page={{ current_page.next_page_number }}"> > </a></li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                </div>

        </div>
    </div>
</div>
</div>
<!-- ##### Main Content Wrapper End ##### -->

{% endblock content %}
{% block java %}
<script>
    // Get the URL parameters from the query string
    const urlParams = new URLSearchParams(window.location.search);

    const minPriceInput = document.getElementById('min_price');
    const maxPriceInput = document.getElementById('max_price');

    // Get the values of 'min_price' and 'max_price' from URL parameters
    const minPrice = urlParams.get('min_price');
    const maxPrice = urlParams.get('max_price');

    // Set input values and placeholders based on URL parameters
    if (minPrice) {
        
        minPriceInput.placeholder = `${minPrice}`;
    }

    if (maxPrice) {
        
        maxPriceInput.placeholder = `${maxPrice}`;
    }
</script>
<script>
   
    $(document).ready(function() {
        // Increment button click
        $('.increment-btn').on('click', function(e) {
            e.preventDefault();
            var cartItemId = $(this).data('cart-item-id');
            $.ajax({
                type: "GET",
                url: "{% url 'addcart' 0 %}".replace('0', cartItemId),
                success: function(response) {
                    // Update the quantity label
                    $('#quantity-label-' + cartItemId).text(response.quantity);
                    // Update the cart total
                    $('#cart-total').text(response.cart_total);
                    // Update the cartitem price
                    $('#cart-item-price-'+ cartItemId).text('₹' + response.item_price);
                    Swal.fire({
                    title: "Success",
                    text: "item aded to cart!",
                    icon: "success",
                }); 
                },
                error: function(response) {
                  // Use SweetAlert2 to display the error message
                  Swal.fire({
                    title: "Error",
                    text: response.responseJSON.error,
                    icon: "error",
                });
                }
            });
        });
  
       
    });



</script>
{% endblock java %}