{% extends 'base.html' %}


{% block title %} AVF-Shop {% endblock title %}

{% block content %}

<div class="shop_sidebar_area">

    <!-- ##### Single Widget ##### -->
    <div class="widget catagory mb-50">
        <!-- Widget Title -->
        <h6 class="widget-title mb-30">Categories</h6>
    
        <!--  Catagories  -->
        <div class="catagories-menu">
            {% for cat in categorys %}
            <ul>
                
                <li class=""><a href="/store/filtered-product/?category={{ cat.id }}">{{ cat.category_name}}</a></li>
              
            </ul>
            {% endfor %}
        </div>
    </div>
    
    <form class="widget-desc" action="/store/filtered-product/" method="get">
        <!-- Brands -->
        <div class="left-side">
            <h6 class="widget brands mb-50">Brands</h6>

            <ul>
                {% for i in brand %}
                <li class="m-4">
                    
                    <input class="form-check-input" type="checkbox" name="brand" value="{{ i.id }}" class="checked">
                    <label class="form-check-label" for="brand_{{ i.id }}">{{ i.brand_name }}</label>
                </li>
                {% endfor %}
            </ul>
        </div>
        <br>
        <input class="btn btn-dark" type="submit" value="Apply Filters">
    </form>
    

    <!-- ##### Single Widget ##### -->
    {% comment %} <div class="widget color mb-50">
        <!-- Widget Title -->
        <h6 class="widget-title mb-30">Color</h6>

        <div class="widget-desc">
            <ul class="d-flex">
                <li><a href="#" class="color1"></a></li>
                <li><a href="#" class="color2"></a></li>
                <li><a href="#" class="color3"></a></li>
                <li><a href="#" class="color4"></a></li>
                <li><a href="#" class="color5"></a></li>
                <li><a href="#" class="color6"></a></li>
                <li><a href="#" class="color7"></a></li>
                <li><a href="#" class="color8"></a></li>
            </ul>
        </div>
    </div> {% endcomment %}

    <!-- ##### Single Widget ##### -->
    {% comment %} <div class="widget price mb-50">
        <!-- Widget Title -->
        <h6 class="widget-title mb-30 mt-3" >Price</h6>

        <div class="widget-desc">
            <div class="slider-range">
                <div data-min="10" data-max="1000" data-unit="$" class="slider-range-price ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" data-value-min="10" data-value-max="1000" data-label-result="">
                    <div class="ui-slider-range ui-widget-header ui-corner-all"></div>
                    <span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0"></span>
                    <span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0"></span>
                </div>
                <div class="range-price">$1000 - $10000</div>
            </div>
        </div>
    </div> {% endcomment %}
</div>

<div class="amado_product_area section-padding-100">
    <div class="container-fluid">

        <div class="row">
            <div class="col-12">
                <div class="product-topbar d-xl-flex align-items-end justify-content-between">
                    <!-- Total Products -->
                    <div class="total-products">
                        <p></p>
                       
                    </div>
                    <!-- Sorting -->
                    <div class="product-sorting d-flex">
                        {% comment %} <div class="sort-by-date d-flex align-items-center mr-15">
                            <p>Sort by</p>
                            <form action="#" method="get">
                                <select name="select" id="sortBydate">
                                    <option value="value">Date</option>
                                    <option value="value">Newest</option>
                                    <option value="value">Popular</option>
                                </select>
                            </form>
                        </div> {% endcomment %}
                        {% comment %} <div class="view-product d-flex align-items-center">
                            <p>View</p>
                            <form action="#" method="get">
                                <select name="select" id="viewProduct">
                                    <option value="value">12</option>
                                    <option value="value">24</option>
                                    <option value="value">48</option>
                                    <option value="value">96</option>
                                </select>
                            </form>
                        </div> {% endcomment %}
                    </div>
                </div>
            </div>
        </div>

        <div class="row">

            <!-- Single Product Area -->
            {% for product in current_page  %}
        
            <div class="col-12 col-sm-6 col-md-12 col-xl-6">
                <div class="single-product-wrapper">
                    <!-- Product Image -->
                    <div class="product-img">
                        <img src="{{product.images.url}}"> <a href="{% url 'product_details' product.id %}"></a>
                        <a href="{% url 'product_details' product.id %}"><img class="hover-img" src="{{ product.product_images.last.pr_images.url }}" alt=""></a>
                    </div>

                    <!-- Product Description -->
                    <div class="product-description d-flex align-items-center justify-content-between">
                        <!-- Product Meta Data -->
                        <div class="product-meta-data">
                            <div class="line"></div>
                            <p class="product-price">&#8377;{{ product.price}}</p>
                            <a href="{% url 'product_details' product.id %}">
                                <h6>{{ product.product_name}}</h6>
                            </a>
                        </div>
                        <!-- Ratings & Cart -->
                        <div class="ratings-cart text-right">
                            <div class="ratings">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
                            {% if product.stock <= 0 %}
                            <h7>out of stock</h7>
                            {% else %}
                            <div class="cart">
                            
                           
                                <a href={% url 'addcart' product.id %} data-toggle="tooltip" data-placement="left" title="Add to Cart"><img src="/static/assets/img/core-img/cart.png" alt=""></a>
                               
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            <!-- Single Product Area -->
           
        </div>

<!-- Single Product Area -->


                <!-- Pagination -->
                <div class="row">
                    <div class="col-12">
                        <nav aria-label="navigation">
                            <ul class="pagination justify-content-end mt-50">
                                {% if current_page.has_previous %}
                                    <li class="page-item"><a class="page-link" href="?page={{ current_page.previous_page_number }}"> < </a></li>
                                {% endif %}
                                {% for num in current_page.paginator.page_range %}
                                    {% if current_page.number == num %}
                                        <li class="page-item active"><a class="page-link" href="#">{{ num }}.</a></li>
                                    {% else %}
                                        <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}.</a></li>
                                    {% endif %}
                                {% endfor %}
                                {% if current_page.has_next %}
                                    <li class="page-item"><a class="page-link" href="?page={{ current_page.next_page_number }}"> > </a></li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                </div>

        </div>
    </div>
</div>
</div>
<!-- ##### Main Content Wrapper End ##### -->

{% endblock content %}