{% extends 'base.html' %}
{% block CSS %}
<style>
    * {box-sizing: border-box;}
    
    .img-zoom-container {
      position:absolute;
    }
    
    .img-zoom-lens {
      position: absolute;
      border: 1px solid #d4d4d4;
      /*set the size of the lens:*/
      width: 100px;
      height: 100px;
    }
    
    .img-zoom-result {
      border: 1px solid #d4d4d4;
      /*set the size of the result div:*/
      width: 200px;
      height: 200px;
    }
    
    .qp{
        height: 500px;
    }
    .koi{
        margin-left: 340px;
    }

    
    
    </style>
    {% endblock CSS %}
   
{% block title %}AVF-product details{% endblock title %}

{% block content %}
 <!-- Product Details Area Start -->
 <div class="single-product-area section-padding-100 clearfix">
    <div class="container-fluid">

        <div class="row">
            <div class="col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mt-50">
                        <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'shop'%}">shop</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{{single_product.product_name }}</li>
                    </ol>
                </nav>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-lg-7">
                <div class="single_product_thumb">
                    <div id="product_details_slider" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            {% for image in single_product.product_images.all %}
                            <li data-target="#product_details_slider"  data-slide-to="{{ forloop.counter0 }}" {% if forloop.first %} class="active" {% endif %} style="background-image: url({{ image.pr_images.url }});">
                            </li>
                            {% endfor %}
                           
                        </ol> 
                        
                        
                        
                        <div class="carousel-inner ">
                            {% for image in single_product.product_images.all %}
                            <div style="position : relative;"  onmouseover="showContent()" onmouseout="hideContent()" class="trigger carousel-item {% if forloop.first %} active {% endif %}"> 
                                <a class="gallery_img" href="{{image.pr_images.url}}">
                                    <img class="pq d-block w-100" id="myimage" src="{{image.pr_images.url}}" alt="First slide">
                                    <div  style="position:absolute;top : 0; right : 0; border : unset" id="myresult" class="content img-zoom-result"></div>
                            </div>
                            
                            {% endfor %}
                        </div>
                        
                        
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-5">
                <div class="single_product_desc">
                    <!-- Product Meta Data -->
                    <div class="product-meta-data">
                        <div class="line"></div>
                        <p class="product-price">&#8377;{{single_product.price}}</p>
                        <a href="product-details.html">
                            <h6>{{single_product.product_name }}</h6>
                        </a>
                        <!-- Ratings & Review -->
                        <div class="ratings-review mb-15 d-flex align-items-center justify-content-between">
                            <div class="ratings">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
                            <div class="review">
                                <a href="#">Write A Review</a>
                            </div>
                        </div>
                        <!-- Avaiable -->
                        <p class="avaibility"><i class="fa fa-circle"></i> In Stock</p>
                    </div>

                    <div class="short_overview my-5">
                        <p>{{single_product.description}} </p>
                    </div>

                    <!-- Add to Cart Form -->
                    
                        {% csrf_token %}
                        {% comment %} <div class="cart-btn d-flex mb-50">
                            <p>Qty</p>
                            <div class="quantity">
                                <a  href="{% url 'removecart' cart_item.product.id %}"><span class="qty-minus">
                                    <i class="fa fa-minus" aria-hidden="true"></i>
                                </span></a>
                                
                                <input type="number" class="qty-text" id="qty" step="{{ cart_item.quantity }}" min="{{ count }}" max="300" name="quantity" value="{{ cart_item.quantity }}">
                               <a  href="{% url 'addcart' cart_item.product.id %}"> <span class="qty-plus" >
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                </span><a>

                            </div>
                        </div> {% endcomment %}
                        {% if single_product.stock <= 0 %}
                        <h4>out of stock</h4>
                        {% else %}
                        <a href="{% url 'addcart' single_product.id %}">
                            <button  name="addtocart"  class="btn amado-btn">Add to cart</button>
                        </a>
                        {% endif %}   
                

                </div>
            </div>
        </div>
    </div>
</div>
<!-- Product Details Area End -->
</div>
<!-- ##### Main Content Wrapper End ##### -->
{% endblock content %}
{% block java %}

<script>
    function showContent() {
        document.getElementById('myresult').style.display = 'block'
    }
    function hideContent() {
        document.getElementById('myresult').style.display = 'none'
    }
</script>
<script>
    $(document).ready(function() {
    $('#image-container').zoom({
      magnify: 2 // magnification factor, default is 1
    })
  })
</script>

<script>
    function imageZoom(imgID, resultID) {
      var img, lens, result, cx, cy;
      img = document.getElementById(imgID);
      result = document.getElementById(resultID);
      /*create lens:*/
      lens = document.createElement("DIV");
      lens.setAttribute("class", "img-zoom-lens");
      /*insert lens:*/
      img.parentElement.insertBefore(lens, img);
      /*calculate the ratio between result DIV and lens:*/
      cx = result.offsetWidth / lens.offsetWidth;
      cy = result.offsetHeight / lens.offsetHeight;
      /*set background properties for the result DIV:*/
      result.style.backgroundImage = "url('" + img.src + "')";
      result.style.backgroundSize = (img.width * cx) + "px " + (img.height * cy) + "px";
      

      /*execute a function when someone moves the cursor over the image, or the lens:*/
      lens.addEventListener("mousemove", moveLens);
      img.addEventListener("mousemove", moveLens);
      /*and also for touch screens:*/
      lens.addEventListener("touchmove", moveLens);
      img.addEventListener("touchmove", moveLens);
      function moveLens(e) {
        var pos, x, y;
        /*prevent any other actions that may occur when moving over the image:*/
        e.preventDefault();
        /*get the cursor's x and y positions:*/
        pos = getCursorPos(e);
        /*calculate the position of the lens:*/
        x = pos.x - (lens.offsetWidth / 2);
        y = pos.y - (lens.offsetHeight / 2);
        /*prevent the lens from being positioned outside the image:*/
        if (x > img.width - lens.offsetWidth) {x = img.width - lens.offsetWidth;}
        if (x < 0) {x = 0;}
        if (y > img.height - lens.offsetHeight) {y = img.height - lens.offsetHeight;}
        if (y < 0) {y = 0;}
        /*set the position of the lens:*/
        lens.style.left = x + "px";
        lens.style.top = y + "px";
        /*display what the lens "sees":*/
        result.style.backgroundPosition = "-" + (x * cx) + "px -" + (y * cy) + "px";
      }
      function getCursorPos(e) {
        var a, x = 0, y = 0;
        e = e || window.event;
        /*get the x and y positions of the image:*/
        a = img.getBoundingClientRect();
        /*calculate the cursor's x and y coordinates, relative to the image:*/
        x = e.pageX - a.left;
        y = e.pageY - a.top;
        /*consider any page scrolling:*/
        x = x - window.pageXOffset;
        y = y - window.pageYOffset;
        return {x : x, y : y};
      }
    }
    </script>

<script>
    // Initiate zoom effect:
    imageZoom("myimage", "myresult");
</script>
{% endblock java %}