{% extends 'base.html' %}
{% block title %}AVF-product details{% endblock title %}

{% block content %}
 <!-- Product Details Area Start -->
 <div class="single-product-area section-padding-100 clearfix">
    <div class="container-fluid">

        <div class="row">
            <div class="col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mt-50">
                        <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'shop'%}">shop</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{{single_product.product_name }}</li>
                    </ol>
                </nav>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-lg-7">
                <div class="single_product_thumb">
                    <div id="product_details_slider" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            {% for image in single_product.product_images.all %}
                            <li data-target="#product_details_slider"  data-slide-to="{{ forloop.counter0 }}" {% if forloop.first %} class="active" {% endif %} style="background-image: url({{ image.pr_images.url }});">
                            </li>
                            {% endfor %}
                           
                        </ol> 
                        
                        
                        
                        <div class="carousel-inner ">
                            {% for image in single_product.product_images.all %}
                            <div class="carousel-item {% if forloop.first %} active {% endif %}"> 
                                <a class="gallery_img" href="{{image.pr_images.url}}">
                                    <img class="d-block w-100" src="{{image.pr_images.url}}" alt="First slide">
                                </a>
                            </div>
                            {% endfor %}
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-5">
                <div class="single_product_desc">
                    <!-- Product Meta Data -->
                    <div class="product-meta-data">
                        <div class="line"></div>
                        <p class="product-price">&#8377;{{single_product.price}}</p>
                        <a href="product-details.html">
                            <h6>{{single_product.product_name }}</h6>
                        </a>
                        <!-- Ratings & Review -->
                        <div class="ratings-review mb-15 d-flex align-items-center justify-content-between">
                            <div class="ratings">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
                            <div class="review">
                                <a href="#">Write A Review</a>
                            </div>
                        </div>
                        <!-- Avaiable -->
                        <p class="avaibility"><i class="fa fa-circle"></i> In Stock</p>
                    </div>

                    <div class="short_overview my-5">
                        <p>{{single_product.description}} </p>
                    </div>

                    <!-- Add to Cart Form -->
                    
                        {% csrf_token %}
                        {% comment %} <div class="cart-btn d-flex mb-50">
                            <p>Qty</p>
                            <div class="quantity">
                                <a  href="{% url 'removecart' cart_item.product.id %}"><span class="qty-minus">
                                    <i class="fa fa-minus" aria-hidden="true"></i>
                                </span></a>
                                
                                <input type="number" class="qty-text" id="qty" step="{{ cart_item.quantity }}" min="{{ count }}" max="300" name="quantity" value="{{ cart_item.quantity }}">
                               <a  href="{% url 'addcart' cart_item.product.id %}"> <span class="qty-plus" >
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                </span><a>

                            </div>
                        </div> {% endcomment %}
                        {% if single_product.stock <= 0 %}
                        <h4>out of stock</h4>
                        {% else %}
                        <a href="{% url 'addcart' single_product.id %}">
                            <button  name="addtocart"  class="btn amado-btn">Add to cart</button>
                        </a>
                        {% endif %}   
                

                </div>
            </div>
        </div>
    </div>
</div>
<!-- Product Details Area End -->
</div>
<!-- ##### Main Content Wrapper End ##### -->
{% endblock content %}